.to-do-list-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 550px;
  background-color: #3b4249;
  color: #fff;
  border-radius: 5px;
}
